.headline-h1-firstsite{
    display: flex;
    justify-content: center;
}

.input{
    display: flex;
    justify-content: center;
}

.sing-in{
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}

.container{
    display: flex;
    justify-content: center;
}

.alter{
    padding-right: 5px;
}